@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap');

:root{
  --textcolour0: #ffffff;
  --textcolour1: #e6eef8;
  --textcolour2: #999;
  --textcolour3: #666;
  --textcolour4: #333;
  --textcolour5: #000;

  --colour01: #222831;
  --colour02: #393e46;

  --colour03: #0f3650;
  --colour04: #4e0000;
  --colour05: #7ab4be;
  --colour06: #7ca3d2;

  --colour0: white;
  --colour1: #f8f4eb;
  --colour2: #dfd0b8;
  --colour3: #948979;
  --colour4: #5b544b;


  /* --font-family: 'Anek Kannada', sans-serif; */
  --font-family: "Baloo Tamma 2", system-ui;
}

body {
  margin: 0;
  background-color: var(--colour1);
  font-weight: 400;
  font-family: var(--font-family);
}

.pageLayout {
  display: flex;
  align-items: flex-start;
}

.contentArea {
  flex: 1;
  padding: 2rem;
}

@media (max-width: 767px) {
  .pageLayout {
    flex-direction: column;
  }
}

/* all h1 with .pagetitle are page title will override h1 default */
/* all h1 are section titles */
/* all h2 are sub sections within sections */



h1{
  color: #a90000;
  color: var(--colour4);
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 3px solid var(--colour4);
  padding-bottom: 0.5rem;
  margin: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  text-shadow: 0.5px 0.5px 0px var(--textcolour5);
}

h2{
  color: #cac000;
  color: var(--textcolour4);
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-bottom: 0.4rem; */
  border-bottom: 2px solid var(--colour3);
  padding-bottom: 0.4rem;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

}

h3{
  color: green;
  color: var(--textcolour3);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

h4{
  color: #00bfff;
  color: var(--colour4);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

p{
  color: purple;
  color: var(--textcolour4);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.8;
}


main{
  background: var(--colour1);
  margin: 0 auto;
  min-height: 100vh;
  /* padding: 1.5rem; */
}

@media (max-width: 450px) {
  .contentArea {
    flex: 1;
    padding: 1.5rem;
  }

  section{
    padding: 1.5rem;
  }
}
