.contact section {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 8px;
  margin: 0 auto;
}

.contact .contactImage {
  flex: 1;
  padding: 1rem;
}

.contact .contactImage img {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  display: block;
}

.contact .contactDetails {
  flex: 2;
  padding: 2rem;
}

.contact .contactItem {
  margin-bottom: 1.5rem;
}

.contact .contactLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: var(--colour4);
}

.contact .contactIcon {
  color: var(--colour3);
  display: flex;
  align-items: center;
}

.contact .contactName {
  font-size: 1rem;
}

.contact .contactLink {
  color: var(--colourtext1);
  text-decoration: none;
  /* line-height: 1.6; */
}

.contact .contactLink:hover {
  color: var(--colour2);
  text-shadow: 0.5px 0.5px 0.5px var(--colourtext2);;
}

@media (max-width: 768px) {
  .contact section {
    flex-direction: column;
    text-align: center;
  }

  .contact .contactLabel {
    justify-content: center;
  }

  .contact .contactImage img {
    margin: 0 auto;
  }
}